<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>

<body>
    <header>
        <h1>This is home page</h1>
    </header>
    <main>
        <section>
            <h2>Teasting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolorum a eaque culpa? Consequatur
                dolorum similique doloribus cumque, voluptas, excepturi repellat voluptatibus ex quisquam voluptate
                itaque possimus. Eos, impedit et!</p>
        </section>
    </main>
</body>

</html>