<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload File</h1>
    
    <h2>One File</h2>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="text" name="firstName" placeholder="First Name" id=""><br>
      <input type="text" name="secondName" placeholder="Last Name" id=""><br>
      <input type="file"   name="myFile"  id=""><br>
      <input type="submit" value="Send">
    </form>
    <h2>Multiple Files</h2>
    <form action="/multi" method="post" enctype="multipart/form-data">
      <input type="text" name="firstName" placeholder="First Name" id=""><br>
      <input type="text" name="secondName" placeholder="Last Name" id=""><br>
      <input type="file" multiple  name="myFile"  id=""><br>
      <input type="submit" value="Send">
    </form>
    <hr>
    <h2>Only Images (One File)</h2>
    <form action="/imgupload" method="post" enctype="multipart/form-data">
      <input type="text" name="firstName" placeholder="First Name" id=""><br>
      <input type="text" name="secondName" placeholder="Last Name" id=""><br>
      <input type="file"   name="myFile" accept="image/*" id=""><br>
      <input type="submit" value="Send">
    </form>
    <hr>
  </body>
</html>
