<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST Request</title>
</head>
<body>
    <h1>POST DATA</h1>
    <form action="/" method="post">
        <input type="text" name="username" id=""><br>
        <input type="password" name="password" id=""><br>
        <input type="checkbox" name="remember" id=""><br>
        <label for="">Female</label><input type="radio" name="gender" id="" value="female">
        <label for="">Male</label><input type="radio" name="gender" id="" value="male"><br>
        <select name="country" id="">
            <option value="usa">USA</option>
            <option value="germany">Germany</option>
            <option value="spain">Spain</option>
        </select>
        <input type="submit" value="Send">
    </form>
    <script>

    </script>
</body>
</html>